.topContent {
    margin: auto;
    width: 1000px;
    height: 150px;
    display: grid;
    grid-template-columns: 4fr 7fr 4fr;
    grid-template-rows: 140px 60px;
}
.topContent .titleToMain{
	 color: #DB1D3B;
}


.topContent>div:first-child>div:first-child {
    position: relative;
    width: 175px;
    height: 26px;
    left: 18px;
    top: 30px;
    font-size: 18px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
}

.topContent>div:first-child>div:nth-child(2) {
    position: relative;
    width: max-content;
    height: 50px;
    left: 56px;
    top: 30px;
    font-size: 50px;
    font-weight: bold;
    line-height: 59px;
    display: flex;
    color: #DB1D3B;
}

.topContent>div:first-child>div:nth-child(3) {
    position: relative;
    width: max-content;
    height: 50px;
    top: -12px;
    left: 157px;
    font-weight: bold;
    font-size: 40px;
    line-height: 59px;
    color: #DB1D3B;
}

.topContent>div:nth-child(2)>div {
    position: relative;
    width: 467px;
    height: 49px;
    left: 0px;
    top: 47px;
    border: 2px solid #F20505;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
}






body {
  background: #e9e9e9;
  color: #666666;
  font-family: 'RobotoDraft', 'Roboto', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Pen Title */
.pen-title {
  padding: 10px 350px;
  text-align: center;
  letter-spacing: 2px;
}
.pen-title h1 {
  margin: 0 0 20px;
  font-size: 48px;
  font-weight: 300;
}
.pen-title span {
  font-size: 12px;
}
.pen-title span .fa {
  color: #33b5e5;
}
.pen-title span a {
  color: #33b5e5;
  font-weight: 600;
  text-decoration: none;
}

/* Form Module */
.form-module {
  position: relative;
  background: #ffffff;
  max-width: 320px;
  width: 100%;
  border-top: 5px solid #DB1D3B;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}
.form-module .toggle {
  cursor: pointer;
  position: absolute;
  top: -0;
  right: -0;
  background: #33b5e5;
  width: 30px;
  height: 30px;
  margin: -5px 0 0;
  color: #ffffff;
  font-size: 12px;
  line-height: 30px;
  text-align: center;
}
.form-module .toggle .tooltip {
  position: absolute;
  top: 5px;
  right: -65px;
  display: block;
  background: rgba(0, 0, 0, 0.6);
  width: auto;
  padding: 5px;
  font-size: 10px;
  line-height: 1;
  text-transform: uppercase;
}
.form-module .toggle .tooltip:before {
  content: '';
  position: absolute;
  top: 5px;
  left: -5px;
  display: block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid rgba(0, 0, 0, 0.6);
}
.form-module .form {
  display: none;
  padding: 40px;
}
.form-module .form:nth-child(2) {
  display: block;
}
.form-module h2 {
  margin: 0 0 20px;
  color: #F20505;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
}
.form-module input {
  outline: none;
  display: block;
  width: 100%;
  border: 1px solid #d9d9d9;
  margin: 3 0 2px;
  padding: 10px 15px;
  box-sizing: border-box;
  font-wieght: 400;
  transition: 0.3s ease;
}
.form-module .alert{
	color: #DB1D3B;
    font-size: 12px;
    height: 15px;
    width: 240px;
    font-weight: bolder;
}
.form-module input:focus {
  border: 1px solid #33b5e5;
  color: #333333;
}
.form-module button {
  cursor: pointer;
  background: #DB1D3B;
  width: 100%;
  border: 0;
  padding: 10px 15px;
  color: #ffffff;
  transition: 0.3s ease;
}
.form-module button:hover {
  background: #FF3B58;
}
.form-module .cta {
  background: #f2f2f2;
  width: 100%;
  padding: 15px 40px;
  box-sizing: border-box;
  color: #666666;
  font-size: 12px;
  text-align: center;
}
.form-module .cta a {
  color: #333333;
  text-decoration: none;
}




	
/* 
	#bg{
		background: rgb(253, 247, 247);
	}

	#registBox{
		margin: auto;
		position: relative;
		width: 600px;
		height: 700px;
		background: white;
	}
	#registTitle{
		position: absolute;
		width: 150px;
		height: 30px;
		left: 25px;
		top: 25px;;

		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 24px;
		line-height: 28px;
		text-align: center;

		color: #000000;
	}
	#pfimgbox{
		position: absolute;
		width: 200px;
		height: 200px;
		left: 362px;
		top: 5px;
		align-content: flex-end;

	}
	#pfimgbox > button{
		margin: auto;
		
	}
	#pfimg{
		width: 180px;
		height: 180px;
		border: solid 1px;
	}
	#registDoBtn{
		position: absolute;
		width: 500px;
		height: 50px;
		left: 50px;
		top: 630px;
		line-height: 40px;
        text-align: center;
		font: bold;
		font-size: 30px;

        color: white;
		background: #FF6464;
		border: 0;
	}
	#registBox div{
		position: absolute;
		width: 600px;
		height: 100px;
		left: 0px;
		

		background: rgb(255, 255, 255);
		
	}
	#registInputBox1{
		top: 216px;
	}
	#registInputBox2{
		top: 316px;
	}
	#registInputBox3{
		top: 416px;
	}
	#registInputBox4{
		top: 516px;
	}

	#registBox div > #icon{
		position: relative;
		width: 50px;
		height: 50px;
		left: 10px;
		top: 20px;
		color: rgb(211, 211, 211);
		background: rgb(255, 255, 255);
		align-self: center;
	}

	#registBox div > #alert{
		
		width: 400px;
		height: 15px;
		left: 70px;
		top: 70px;
		border: none;
		
	}
	#registBox div > #registInput{
		
		width: 250px;
		height: 40px;
		left: 70px;
		top: 25px;
		border: none;
		font-size: 15px;
		border-bottom: solid 1px rgb(211, 211, 211);
		
	}
	input:focus {outline:none;}
	#registBox div > #registInput:nth-child(4){
		
		left: 330px;
		top: 25px;

		
	}
		/*border: 1px solid #000000;*/


/*
Author: Mojtaba Seyedi
Author URI: http://mojtabaseyedi.com
html {
	box-sizing: border-box;
  }
  html *,
  html *::before,
  html *::after {
	box-sizing: inherit;
  }
  
body {
	background-color: #eee;
	font: 100%/1.6 Helvetica;
	color: #fff;
	margin: 0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  } 
  
  .uploader {
	display: block;
	margin: 0 auto;
	width: 200px;
	height: 200px;
	max-width: 90vw;
	max-height: 90vh;
  }
  
  .uploader__input {
	display: none;
  }
  
  .uploader__label {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: 2em 1.5em;
	text-align: center;
	background: #fff;
	border-radius: 7px;
	border: 3px solid #eee;
	transition: all .2s ease;
	-webkit-user-select: none;
	   -moz-user-select: none;
		-ms-user-select: none;
			user-select: none;
	cursor: pointer;
	background-position: 0 0, 15px 15px;
	background-size: 30px 30px;
  }
  .uploader__label:hover {
	border-color: #FF6464;
  }
  .uploader__label.hover {
	border: 3px solid #FF6464;
	box-shadow: inset 0 0 0 6px #eee;
	background-color: #616161;
	background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.25) 25%, transparent 0, transparent 75%, rgba(0, 0, 0, 0.25) 0), linear-gradient(45deg, rgba(0, 0, 0, 0.25) 25%, transparent 0, transparent 75%, rgba(0, 0, 0, 0.25) 0);
  }
  .uploader__label.hover .uploader__clipalt {
	stroke: #fff;
  }
  
  .uploader__wrapper {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .uploader__file {
	position: absolute;

	display: block;
	width: 200px;
	height: 200px;
	border-radius: 3%;
	z-index: 1;
	opacity: 0;
	-webkit-transform: translate3d(0, -1em, 0) scale(0);
			transform: translate3d(0, -1em, 0) scale(0);
	transition: all 0.5s cubic-bezier(0.02, 0.01, 0.47, 1);
  }
  .uploader__file.show {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0) scale(1);
			transform: translate3d(0, 0, 0) scale(1);
  }
  
  .uploader__clipalt {
	fill: none;
	stroke: #ccc;
	stroke-width: 5px;
	stroke-miterlimit: 10;
  }
  
  .uploader__clip {
	stroke-dasharray: 391.592px;
	stroke-dashoffset: -391.592px;
	fill: none;
	stroke: #333;
	stroke-width: 5px;
	stroke-miterlimit: 10;
  }
  .uploading .uploader__clip {
	transition: all .5s linear;
  }
  
  .text {
	color: #333;
	margin: 1em 0 0;
  }
  
*/