html, body {
}


	#bg{

	}

	#pageBox{
		
		margin: auto;
		position: relative;
		width: 1000px;
		height: 300px;
		top: 25px;
		background: white;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
	
	#userInfoTitle{
		position: relative;
	    font-size: 25px;
	}
	
	#pfimgbox{
        margin: 50px;
		position: absolute;
		/*width: 200px;
		height: 200px;*/
		align-content: flex-end;

    }
    #scoreBox{
        left: 25px;
        top: 275px;
		position: absolute;
		width: 200px;
        height: 200px;
        border: #333 solid 1px;
    }
 #infoContainer{
 	position:relative;
 	/* left: 10%; */
 	padding: 10px;
 }  
 
 table{
 	border-top: 2px solid #969696;
 	border-collapse: collapse;
 }
 th, td{
	padding: 14px 30px;
    border-bottom: 1px solid #F2F2F2;
 }
 th{
 width: 150px;
 }
 td{
 width: 300px;
 }

	#updateFormBtn{
		z-index: 100;
		
		position: absolute;
		width: 120px;
		height: 40px;
		left: 850px;
		top: 150px;
		line-height: 40px;
        text-align: center;
		font: bold;
		font-size: 15px;

        color: white;
		background: #DB1D3B;
		border: 0;
	}

#updateFormCancel{
		z-index: 100;
	 	
		position: absolute;
		width: 120px;
		height: 40px;
		left: 850px;
		top: 200px;
		line-height: 40px;
        text-align: center;
		font: bold;
		font-size: 15px;

        color: white;
		background: #DB1D3B;
		border: 0;
	}


	#pageBox .registInputBox{
		position: relative;
		/*width: 600px;*/
		height: 0px;
		left: 400px;
		/*border: 1px solid #000000;*/
		

		background: rgb(255, 255, 255);
		
	}
	
	#registInputBox1{
		top: 0px;
	}
	#registInputBox2{
		top: 50px;
	}
	#registInputBox3{
		top: 100px;
	}
	#registInputBox4{
		top: 150px;
	}

	#pageBox .registInputBox> #icon{
		position: relative;
		/*width: 50px;
		height: 50px;
		left: 10px;
		top: 20px; */
		color: rgb(211, 211, 211);
		background: rgb(255, 255, 255);
		align-self: center;
	}

	#alert{
		
		/* width: 300px;
		height: 15px;
		left: 20px; */
		/*top: 70px;*/
		border: none;
		color:#DB1D3B;
		font-size: smaller;
    	font-weight: bolder;
		/*background: #FF6464;*/
		
	}
	.registInput{
		
		width: 90%;
		border: none;
		font-size: 15px;
		border-bottom: solid 1px rgb(211, 211, 211);
		
	}
	#userPass, #userPassConfirm{
		
		width: 45%;
		
	}
	input:focus {outline:none;}
	#pageBox .registInputBox > #registInput:nth-child(1){
		
		left: 330px;
		top: 25px;

		
	}
	mybid{
		position: relative;
	}

  
  /* card */
  
  .card_container {
  position: relative;
  
 /*  border: 3px sold #DB1D3B;  */
  top: 50px;
  background-color: #fff;
  padding: 1px 20px 20px 1px;
  margin: 10px auto;
  width: 65%;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.card_container::after {
  content: "";
  clear: both;
  display: table;
}

.card_container img {
  float: left;
  margin-right: 20px;
}

.card_container span {
 
}



.vertical-line{ /* Use only border style */
   heigth: 100%;
   float: left; 
   border: 1px inset #DB1D3B; 
   margin: 0px 10px 0px -10px;
 }

.card_imag{
  margin: 15px 0px 0px 15px;
  width:90px;
}

.card_title{
	
}
.card_content{
	
}

/* //파일 */

.m-upload {
  float: left;
  border: 1px solid #90A4AE;
  text-align: center;
  width: 200px;
  height: 200px;
  margin: 70px 16px 16px 16px;
}

.m-upload__preview {
  position: relative;
  padding-top: 160px;
  background-color: #B0BEC5;
  background-image: url(/doublecome/file/downLoadFile.do?fileNo=106);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
.m-upload__preview > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: .3;
}
.m-upload__preview i {
  font-size: 60px;
  color: #fff;
}

.m-upload__inputs {
  display: flex;
  justify-content: space-around;
}

.m-upload__file {
  position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.m-upload__file label {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  padding: 16px;
  cursor: pointer;
}
.m-upload__file [type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  outline: none;
  overflow: hidden;
}
.m-upload__file i {
  font-size: 30px;
  color: #455A64;
  line-height: 1;
}
.m-upload__file:focus i, .m-upload__file:hover i {
  color: #1B5E20;
}



.l-constrained {
  position: relative;
  margin: 0 auto;
  padding: 0 24px;
  z-index: 1;
}


.typo-large {
  font-size: 24px;
  line-height: 1.5;
}


.m-box {
  position: relative;
  background: #fff;
  color: #263238;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin: 0 0 48px;
  padding: 24px;
  overflow: hidden;
}
