/* 테이블 관련 css */
.dataContent {
    border: 1px solid rgba(199, 199, 199, 0.788);
    border-collapse: collapse;
    width: 100%;
    border-left: none;
    border-right: none;
}

.dataContent td,
.dataContent th {
    border-collapse: collapse;
    text-align: start;
    height: 30px;
    box-sizing: border-box;
    padding-left: 10px;
}

.dataContent th {
    background: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(199, 199, 199);
    color: rgb(0, 0, 0);
    height: 35px;
}

.dataContent tr {
    color: rgb(78, 78, 78)
}

.dataContent tr:nth-child(2n-1) {
    background: rgb(248, 248, 248);
}

.dataContent tr:hover {
    opacity: 0.7;
}

/* 검색바 관련 css */
.dataSearch {
    position: relative;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
}

.dataSearch td {
    border: 1px solid rgb(223, 223, 223);

}

.dataSearch td:nth-child(2n-1) {
    width: 10%;
    padding-left: 10px;
    font-size: 14px;
    font-weight: bold;
}

.dataSearch td:nth-child(2n) {
    padding-left: 10px;
    width: 35%;
}


.dataSearch input[type=text] {
    text-align: end;
    box-sizing: border-box;
    padding-right: 23px;
    width: 150px;
    color: gray;
}

.dataSearch .searchWord{
    padding-right: 10px !important;
}

.dataSearch tr {
    height: 35px;
}

.dataSearch select {
    margin-left: 20px;
    height: 24px;
}

.dataSearch td:nth-child(2n-1) {
    background: rgb(241, 241, 241);
}

.dataSearch>tfoot td {
    background: white !important;
    border: none !important;
    text-align: center;
}

.dataSearch button {
    width: 100px;
    height: 25px;
    border: none;
    color: white;
    background: rgb(252, 79, 79);
    border-radius: 3px;
    margin-top: 10px;
}

p[class=labels] {
    display: inline;
    position: relative;
    left: 145px;
    font-size: 13px;
    color: gray;
}

/* 필터 css */
.dataFilters {
    width: 100%;
    height: 30px;
}

.dataFilters select {
    height: 23px;
    color: gray;
}

.dataFilters>div:first-child {
    float: left;
    margin-left: 10px;
}

.dataFilters>div:nth-child(2) {
    float: right;
    margin-left: 10px;
}

#dataCount {
    color: rgb(255, 137, 137);
    font-weight: bold;
}

.dataFilters ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.dataFilters li {
    margin-right: 10px;
    float: left;
    font-size: 13px;
    color: gray;
}
.dataFilters li:hover{
    opacity: 0.6;
    cursor: pointer;
}