@charset "UTF-8";

.lineChartType {
	margin-bottom: 20px;
}

.lineChartType span {
	margin: 0px 10px 0px 30px;
	color: lightgray;
	cursor: pointer;
	float: left;
}

.lineChartType > div{
	    float: left;
    display: flex;
    width: 200px;
    justify-content: space-evenly;
    align-items: center;
}

.lineChartType > div select{
	height: 25px;
}
.lineChartType > div button{
	border: none;
	color: white;
	background: rgb(252, 79, 79);
	border-radius: 3px;
	cursor: pointer;
	height: 25px;
}
.clickedType {
	color: black !important;
	font-weight: bold;
}

#lineChart {
	width: 1000px;
}

.chartGroup {
	width: 1200px;
	height: 300px;
}

#pieChart1,#pieChart2{
	width: 500px;
	height: 270px;
	float: left;
}

.c3-chart-arcs-title {
	font-weight: bold;
	font-size: 15px;
}