@charset "UTF-8";

.removeUserBtn{
	width: 60px;
    height: 25px;
    border: none;
    color: white;
    background: rgb(252, 79, 79);
    border-radius: 3px;
    float:left;
    margin-right: 20px;
}






