        .categoryBox {
            display: flex;
            justify-content: flex-start;
            align-content: center;
        }

        .categoryBox input[type=checkbox] {
            display: none;
        }

        .categoryBox label {
            padding: 0px 10px 0px 10px;
            letter-spacing: 1px;
            cursor: pointer;
        }

        .categoryBox>div {
            width: max-content;
            height: 30px;
            color: black;
            text-align: center;
            line-height: 30px;
            font-size: 13px;
            margin-left: 10px;
        }

        .categoryClicked {
            background: rgb(252, 79, 79);
            border-radius: 10px;
            font-weight: bold;
            color: white !important;
        }