        .addCategoryBtn {
            float: right;
        }

        .addCategoryBtn>button,
        .adminModal button,
        .dataContent button {
            width: 100px;
            height: 25px;
            border: none;
            color: white;
            background: rgb(252, 79, 79);
            border-radius: 3px;
            margin-bottom: 10px;
            margin-right: 10px;
            cursor: pointer;
        }

        .dataContent button {
            margin-bottom: 0px;
            margin-right: 0px;
        }

        thead th:nth-child(5) {
            width: 150px;
        }

        .adminModal {
            position: absolute;
            width: 100%;
            height: 100%;
            display: none;
        }
        
        .adminModal > div {
            position: fixed;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.205);
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .adminModal > div > div {
            width: 400px;
            height: 230px;
            background: white;
            border-radius: 10px; 
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        }

        .adminModal > div > div > h2{
            margin-left: 20px; 
        }

        .adminModal > div > div > div{
            margin: 20px 25px 25px 25px;
        }

        .adminModal > div > div > div:nth-of-type(3){
            text-align: center;
        }

        .adminModal input{
            margin-left: 20px; 
            width: 210px;
            padding-left: 10px;
            box-sizing: border-box; 
        }