
.wrapper {
    width: 100%;
    margin: 0 auto;
/*     margin-top: 20px; */
}
.contents {
	padding-left: 40px;
    padding-right: 80px;
}
.topContent {
	height: 70px;
	border-bottom: 1px solid #e6e6e6;
}
.button {
    background: #E27575;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    box-shadow: 1px 1px 5px #B6B6B6;
    border-radius: 3px;
    text-shadow: 1px 1px 1px #9E3F3F;
    cursor: pointer;
    float: right;
    position: relative;
	top: 18px;
    right: 97px;
}

.button:hover {
    background: #CF7A7A;
}
.basic {
	height: 120px;
	background: #f1f1f1;
	margin: 7px;
}
.upload_btn {
	font-weight: normal;
	cursor: pointer;
	position: relative;
	top: 25px;
    left: 90px;
    float: left;
}
.img_thumb_img {
    width: 100%;
    height: 100%;
    -moz-background-size: cover;
    background-size: cover;
    background-position: center;
}
.img_thumb {
    width: 100%;
    height: 100%;
    cursor: pointer;
    overflow: hidden;
}
.img_thumb_wrap {
    position: absolute;
    background: #f1f1f1;
    top: 0;
    right: 5px;
    bottom: 0;
    left: 5px;
}

.npu_image_list {
    margin-top: 30px;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
li {
	list-style: none;
}
.npu_image_list.npu_cols_6 .npu_image_item {
    width: 20%;
}
.npu_image_list .npu_image_item {
    position: relative;
    width: 16.66667%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 5px;
    margin-bottom: 10px;
    height: 130px;
}
.npu_image_list .npu_image_item:after {
    position: absolute;
    display: none;
    top: 0;
    width: 2px;
    height: 100%;
    background-color: #00c73c;
    content: '';
}
.npu_image_list .npu_image_list_thumb_wrap {
    position: absolute;
    background: #f1f1f1;
    top: 0;
    right: 5px;
    bottom: 0;
    left: 5px;
}