
.wrapper {
    width: 900px;
    margin: 0 auto;
/*     margin-top: 20px; */
    width: 950px;
}
.contents {
}
.topContent {
	height: 70px;
	border-bottom: 1px solid #e6e6e6;
}

.textComplete, .textCancel {
	background: #E27575;
    border: none;
    color: #FFF;
    border-radius: 3px;
    text-shadow: 1px 1px 1px #9E3F3F;
    cursor: pointer;
}
.button {
    background: #E27575;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    box-shadow: 1px 1px 5px #B6B6B6;
    border-radius: 3px;
    text-shadow: 1px 1px 1px #9E3F3F;
    cursor: pointer;
    float: right;
    position: relative;
	top: 18px;
	right: 155px;
}

.button:hover {
    background: #CF7A7A;
}
.basic {
	height: 120px;
	background: #f1f1f1;
	margin: 7px;
}
.upload_btn {
	font-weight: normal;
	cursor: pointer;
	position: relative;
	top: 25px;
    left: 50px;
    float: left;
}
.img_thumb_img {
    width: 100%;
    height: 100%;
    -moz-background-size: cover;
    background-size: cover;
    background-position: center;
}
.img_thumb {
    width: 100%;
    height: 100%;
    cursor: pointer;
    overflow: hidden;
}
.img_thumb_wrap {
    position: absolute;
    background: #f1f1f1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.npu_image_list {
    float: left;
    margin-top: 30px;
    width: 800px;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
li {
	list-style: none;
}
.npu_image_list.npu_cols_6 .npu_image_item {
    width: 20%;
}
.npu_image_list .npu_image_item {
    position: relative;
    width: 16.66667%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 5px;
    margin-bottom: 10px;
    height: 130px;
}
.npu_image_list .npu_image_item:after {
    position: absolute;
    display: none;
    top: 0;
    width: 2px;
    height: 100%;
    background-color: #00c73c;
    content: '';
}
.npu_image_list .npu_image_list_thumb_wrap {
    position: absolute;
    background: #f1f1f1;
    top: 0;
    right: 5px;
    bottom: 0;
    left: 5px;
}
.npu_image_list .npu_btn_image_del {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 18px;
    height: 18px;
    background: rgba(0,0,0,0.0);
    border: 0;
    outline: 0;
}
.glyphicon-remove {
    position: absolute;
    top: 1px;
    left: 1px;
    width: 13px;
    height: 13px;
}

.tagChoice {
    position: absolute !important;
    z-index: 2 !important;
    width: 762px !important;
    height: 600px !important;
    z-index: 2;
}

.tagCancel, .tagComplete{
	bottom: 0;
    position: absolute;
    right: 0;
    background: #E27575;
    border: none;
    padding: 6px 15px 6px 15px;
    color: #FFF;
    box-shadow: 1px 1px 5px #B6B6B6;
    border-radius: 3px;
    text-shadow: 1px 1px 1px #9E3F3F;
    cursor: pointer;
}
.tagCancel:hober, .tagComplete:hover {
	background: #CF7A7A;
}
.tagComplete {
	left: 61px;
}
.addTag {
	position: relative;
    resize: none;
    min-height: 50px;
    z-index: 5;
    margin: 0 auto;
    left: 3px;
	top: 3px;
	border: none;
    border-radius: 5px;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.sidebar {
	position: absolute;
    background: rgba(051, 051, 051, 1);
    width: 178px;
    height: 100%;
    right: 0;
}
.sidebarContent {
	position: relative;
    top: 100px;
    height: 600px;
}
.tagTextBox {
	height: max-content;
	position: absolute;
    z-index: 50;
    width: 170px;
}
.textDelI {
	z-index: 5;
    position: absolute;
	top: 4px;
    right: 10px;
    background: rgba(0,0,0,0.0);
    border: 0;
    outline: 0;
}
