#historycontent{
    position: relative;
    width: 1000px;
    font-family: Roboto;
    margin: auto;
    text-align: center;
}
#innerContent{
	width: 900px;
	margin: auto;
}
#myInfo{
	display: grid;
    width: 900px;
    height: 150px;
    margin: 50px auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-areas:
	"myDeal purchaseDeal salesDeal reviewDeal";
}
#myDeal{
	grid-area: myDeal;
	background-color: #DB1D3B;
	color: white;
	font-size: 40px;
	text-align: center;
	line-height: 150px;
}
#purchaseDeal, #salesDeal, #reviewDeal{
	border-right: 1px solid #FFE6E6;
	background-color: #FFC8C8;
	color: white;
}
#purchaseDeal > div, #salesDeal > div, #reviewDeal > div{
	margin: 20px 70px;
	font-size: 17px;
}
#purchaseDeal :nth-child(2), #salesDeal :nth-child(2), #reviewDeal :nth-child(2){
	display: inline-block;
	margin-left: 70px;
	margin-right: 10px;
	font-size: 60px;
	font-weight: lighter;
}
#purchaseDeal{
	grid-area: purchaseDeal;
}
#salesDeal{
	grid-area: salesDeal;
}
#reviewDeal{
	grid-area: reviewDeal;
}
#reviewHead, #purchaseHead, #salesHead {
    position: relative;
    width: 900px;
    height: 50px;
    margin-top: 30px;
    
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 35px;
    display: flex;
    align-items: center;
/*     border-top: 3px solid #555; */
    color: #000000;
}
.tabHead{
    position: relative;
    width: 900px;
    height: 40px;
    list-style: none;
    border-bottom: 2px solid #DB1D3B;
    text-decoration: none;
    padding-left: 0;
}
.tabHead li{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border : 0;
    float: left;

    width: 150px;
    height: 36px;  
    font-size: 15px;
    line-height: 49px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}
.purchaseTabList, .salesTabList, .reviewTabList{
    display: inline-block;
    width: 150px;
    height: 39px;
    margin-left: -1px;
    background-color: #fff;
    text-decoration: none;
    text-align: center;
    border: 1px solid #c3c3c3;
    border-bottom: 0 none;
    cursor: pointer;
    color: black;
    text-decoration: none;
}
.tabChoice{
    border: 2px solid #DB1D3B;
    border-bottom: none;
    width: 150px;
    height: 43px;
    line-height: 47px;
    font-weight: bold;
    z-index: 1;
}
#navBar{
    list-style: none;
    width: 900px;
    height: 50px; 
/*     margin-left: 50px; */
/*     margin-top: 0; */
	margin: auto;
    padding: 0;
}
#navBar li{
    margin: 0;
    padding: 0;
    float: left;

    list-style: none;
    width: 300px;
    height: 50px;
}
.navList{
    font-style: normal;
    font-weight: normal;
    font-size: 17px;

    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    width: 300px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border: 1px solid #c3c3c3;
    background:  #F2F2F2;
    margin-bottom: 20px;
    color: black;
}
.navChoice{
    background: white;
    border-bottom: none;
}
.barFixed {
    position: fixed;
    top: 0px;
    z-index: 2;
}
#sendReview, #receiveReview{
    width: 900px;
    margin-top: 30px;
}
#sendReview{
	display: none;
}
#searchType{
    display: inline-block;
    width: 900px;
    margin-bottom: 20px;
}
#searchType select{
    float: right;
    width: 70px;
    height: 24px;
    font-size: 13px;
}
#reviewCon{
    width: 900px;
    margin: -15px;
    overflow: hidden;
}
#reviewCon ul{
	float: left;
    width: 900px;
    list-style: none;
}
#reviewCon ul li:last-child{
    border-bottom: 1px solid #c3c3c3;
}

.preView{
    height: 120px;
    border-bottom: 1px solid #c3c3c3;
    border-top: 1px solid #c3c3c3;
}
#reviewCon ul li > div{
    float: left;
    margin-top: 15px;
}
.scoreArea{
    /* border: 1px solid black; */
    width: 200px;
    height: 80px;
    text-align: center;
}
.scoreArea > div{
    float: left;
}
.contentArea{
    /* border: 1px solid black; */
    width: 400px;
    height: 80px;
    font-size: 12px;
    padding-left: 20px;
    line-height: 32px;
    margin: 0;
}
.writerArea{
    /* border: 1px solid black; */
    width: 150px;
    height: 80px;
    text-align: center;
    line-height: 40px;
    font-size: 13px;
}
.score{
    width:50px;
    font-size: 45px;
    font-weight: bold;
    line-height: 85px;
    margin-left: 30px;
}
.scoreForm{
    width:50px;
    font-size: 17px;
    line-height: 100px;
    margin: 0;
}
.auctionTitle, .reviewer, .auctionWriter{
    font-weight: bold;
    color: black;
}
.reviewTitle{
	cursor: pointer;
}
.reviewTitle:hover{
	text-decoration: underline;
}
.listCon{
    width: 900px;
    height: 260px;
    border: 1px solid #e7e7e7;
    margin-left: 0;
    margin-top: 40px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.listHead{
    display: inline-block;
    /* float: left; */
    width: 900px;
    height: 60px;
    background:  #F2F2F2;
    border-bottom: 1px solid #e7e7e7;
}
.listDate{
    width: 400px;
    line-height: 60px;
    margin-left: 10px;
    margin-right: 0;
    float: left;
    text-align: left;
}
.dateTitle{
    font-size: 14px;
}
.dateContent{
    font-size: 17px;
}
.detailCon{
    float: left;
    width: 370px;
    height: 60px;
    text-align: right;
    margin-left: 100px;
    font-size: 17px;
}
.detailCon a{
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: right;
    line-height: 60px;
    font-size: 14px;
    color: black;
}
.listBody{
    display: inline-block;
    width: 900px;
    height: 200px;
    margin-top: 20px;
}
.productImg{
    display: inline-block;
    width: 200px;
    height: 160px;
    text-align: center;
    line-height: 150px;
}
.imgCon{
    width: 120px;
    height: 120px;
    border: 1px solid black;
}
.listBody > ul {
    list-style: none;
    float: left;
    width: 900px;
    height: 170px;
    padding: 0;
}
.listBody ul li > div{
    float: left;
}
.productInfo{
    width: 500px;
    height: 160px;
}
.listTitle, .listRegDate{
    margin-top: 15px;
    margin-bottom: 15px;
    color: black;
}
.listTitle{
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
}
.writerInfo{
    float: left;
    width: 200px;
    height: 160px;
    text-align: center;
    line-height: 40px;
    font-size: 15px;
}

.reportBtn{
    display: block;
    width: 80px;
    height: 27px;
    background-color: #DB1D3B;
    border-bottom: 2px solid rgb(170, 26, 15);
    color: #fff;
    border-radius: 3px;
    margin: 5px auto;
    font-size: 13px;
    line-height: 30px;
}
.reviewBtn{
    display: block;
    width: 80px;
    height: 27px;
    margin: auto;
    border: 1px solid #DB1D3B;
    color: #DB1D3B;
    border-radius: 3px;
    box-shadow: inset 0 -2px #e6e6e6;
    cursor: pointer;
    font-size: 13px;
    line-height: 27px;
}
/* The Modal (background) */
.modal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.reviewDetail{
	display: none;
	margin: auto;
	width: 880px;
/* 	height: 500px; */
}
.editdel{
	width:90px;
	line-height: 80px;
}
.editdel a {
	font-size: 12px;
	cursor: pointer;
}
.reviewContent{
	margin-left: 120px;
	font-size: 13px;
	display: grid;
	width: 600px;
/* 	height: 500px; */
	grid-template-columns: 0.85fr 0.45fr 1fr;
  	grid-template-rows: 40px 40px 200px;
	grid-template-areas:
	"profileDiv nicknameDiv regdateDiv"
	"profileDiv onelineDiv onelineDiv"
	"reviewDiv reviewDiv reviewDiv";
}
.profileImg{
	display: inline-block;
	width: 75px;
	height: 75px;
	border-radius: 50%;
	margin-left: 100px;
}
.profileDiv, .nicknameDiv, .onelineDiv, .regdateDiv{
	line-height: 36px;
}
.profileDiv{
	grid-area: profileDiv;
}
.nicknameDiv{
	grid-area: nicknameDiv;
	font-weight: bold;
}
.regdateDiv{
	grid-area: regdateDiv;
}
.onelineDiv{
	grid-area: onelineDiv;
}
.reviewDiv{
	grid-area: reviewDiv;
	line-height: 20px;
	width: 400px;
	margin: 10px auto;
	padding-top: 15px;
	text-align: left;
	border-top: 1px solid #C3C3C3;
}
#searchType {
    width: 100%;
    height: 30px;
}
#searchType>div:first-child {
    float: left;
    margin-left: 25px;
}
#searchType ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#searchType li {
    margin-right: 20px;
    margin-top: 10px;
    float: left;
    font-size: 14px;
    color: gray;
}
#searchType li:hover{
    opacity: 0.6;
    cursor: pointer;
}
#moreBtn{
	width:800px;
	height: 40px;
	border: 1px solid #e6e6e6;
	border-radius: 4px;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	margin-top: 20px;
	margin-left: 70px;
	margin-bottom: 60px;
	background-color: #ffffff;
	color: #a1a1a1;
}
#moreBtn:hover {
	background-color: #f2f2f2; 
}
#toTheTop{
	 position: fixed; 
	 bottom: 50px; 
	 right: 50px; 
	 cursor: pointer;
}