#historycontent{
    position: relative;
    width: 1000px;
    font-family: Roboto;
    margin: auto;
    text-align: center;
}
#innercontent{
	width: 900px;
	margin: auto;
}
#userinfo{
    width: 900px;
    height: 1200px;
}
#reviewhead, #purchasehead, #saleshead {
    position: relative;
    width: 900px;
    height: 50px;
    margin-top: 25px;
    
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 35px;
    display: flex;
    align-items: center;
/*     border-top: 3px solid #555; */
    color: #000000;
}
.tabhead{
    position: relative;
    width: 900px;
    height: 40px;
    list-style: none;
    border-bottom: 2px solid #EF2011;
    padding-left: 0;
}
.tabhead li{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border : 0;
    float: left;

    width: 150px;
    height: 39px;  
    font-size: 15px;
    line-height: 49px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}
.purchasetablist{
    display: inline-block;
    width: 150px;
    height: 39px;
    margin-left: -1px;
    background-color: #fff;
    text-decoration: none;
    text-align: center;
    border: 1px solid #c3c3c3;
    border-bottom: 0 none;
    cursor: pointer;
}
.salestablist{
    display: inline-block;
    width: 150px;
    height: 39px;
    margin-left: -1px;
    background-color: #fff;
    text-decoration: none;
    text-align: center;
    border: 1px solid #c3c3c3;
    border-bottom: 0 none;
    cursor: pointer;
}
.reviewtablist{
    display: inline-block;
    width: 150px;
    height: 39px;
    margin-left: -1px;
    background-color: #fff;
    text-decoration: none;
    text-align: center;
    border: 1px solid #c3c3c3;
    border-bottom: 0 none;
    cursor: pointer;
}
.tabchoice{
    border: 2px solid #DB1D3B;
    border-bottom: none;
    width: 150px;
    height: 43px;
    line-height: 47px;
    font-weight: bold;
    z-index: 1;
}
#navbar{
    list-style: none;
    width: 900px;
    height: 50px; 
    margin-left: 50px;
    margin-top: 0;
    padding: 0;
}
#navbar li{
    margin: 0;
    padding: 0;
    float: left;

    list-style: none;
    width: 300px;
    height: 50px;
}
.navlist{
    font-style: normal;
    font-weight: normal;
    font-size: 17px;

    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    width: 300px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border: 1px solid #c3c3c3;
    background:  #F2F2F2;
    margin-bottom: 20px;
    color: black;
}
.navchoice{
    background: white;
    border-bottom: none;
}
.barfixed {
    position: fixed;
    top: 0px;
    z-index: 2;
}
#review{
    width: 900px;
}
#searchtype{
    display: inline-block;
    width: 900px;
}
#searchtype select{
    float: right;
    width: 70px;
    height: 24px;
    font-size: 13px;
}
#reviewcon{
    width: 900px;
    margin: -15px;
    overflow: hidden;
}
#reviewcon ul{
	float: left;
    width: 900px;
    list-style: none;
}
#reviewcon ul li:last-child{
    border-bottom: 1px solid #c3c3c3;
}

.preview{
    height: 120px;
    border-bottom: 1px solid #c3c3c3;
    border-top: 1px solid #c3c3c3;
}
#reviewcon ul li > div{
    float: left;
    margin-top: 15px;
}
.scorearea{
    /* border: 1px solid black; */
    width: 150px;
    height: 80px;
    text-align: center;
}
.scorearea > div{
    float: left;
}
.contentarea{
    /* border: 1px solid black; */
    width: 450px;
    height: 80px;
    font-size: 12px;
    padding-left: 20px;
    line-height: 32px;
    margin: 0;
}
.writerarea{
    /* border: 1px solid black; */
    width: 150px;
    height: 80px;
    text-align: center;
    line-height: 40px;
    font-size: 13px;
}
.score{
    width:50px;
    font-size: 45px;
    font-weight: bold;
    line-height: 85px;
    margin-left: 30px;
}
.scoreform{
    width:50px;
    font-size: 17px;
    line-height: 100px;
    margin: 0;
}
.auctiontitle, .reviewer, .auctionwriter{
    font-weight: bold;
}
.listcon{
    width: 900px;
    height: 260px;
    border: 1px solid #e7e7e7;
    margin-left: 0;
    margin-top: 40px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.listhead{
    display: inline-block;
    /* float: left; */
    width: 900px;
    height: 60px;
    background:  #F2F2F2;
    border-bottom: 1px solid #e7e7e7;
}
.listdate{
    width: 400px;
    line-height: 60px;
    margin-left: 10px;
    margin-right: 0;
    float: left;
    text-align: left;
}
.datetitle{
    font-size: 14px;
}
.datecontent{
    font-size: 17px;
}
.detailcon{
    float: left;
    width: 370px;
    height: 60px;
    text-align: right;
    margin-left: 100px;
    font-size: 17px;
}
.detailcon a{
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: right;
    line-height: 60px;
    font-size: 14px;
}
.listbody{
    display: inline-block;
    width: 900px;
    height: 200px;
    /* float: left; */
}
.productimg{
    display: inline-block;
    width: 200px;
    height: 160px;
    text-align: center;
    line-height: 250px;
}
.imgcon{
    width: 120px;
    height: 120px;
    border: 1px solid black;
}
.listbody > ul {
    list-style: none;
    float: left;
    width: 900px;
    height: 170px;
    padding: 0;
}
.listbody ul li > div{
    float: left;
}
.productinfo{
    width: 500px;
    height: 160px;
}
.listtitle, .listregdate{
    margin-top: 15px;
    margin-bottom: 15px;
}
.listtitle{
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
}
.writerinfo{
    float: left;
    width: 200px;
    height: 160px;
    text-align: center;
    line-height: 40px;
    font-size: 15px;
}

.reportbtn{
    display: block;
    width: 80px;
    height: 27px;
    background-color: #DB1D3B;
    border-bottom: 2px solid rgb(170, 26, 15);
    color: #fff;
    border-radius: 3px;
    margin: 5px auto;
    font-size: 13px;
    line-height: 30px;
}
.reviewbtn{
    display: block;
    width: 80px;
    height: 27px;
    margin: auto;
    border: 1px solid #DB1D3B;
    color: #DB1D3B;
    border-radius: 3px;
    box-shadow: inset 0 -2px #e6e6e6;
    cursor: pointer;
    font-size: 13px;
    line-height: 27px;
}
/* The Modal (background) */
.modal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 50px auto; /* 15% from the top and centered */
    padding: 20px;
    width: 800px; /* Could be more or less, depending on screen size */                          
    height: 600px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.reviewform{
    width: 700px;
    height: 550px;
    margin: 10px auto;
}
.reviewtitle{
	cursor: pointer;
}
.reviewtitle:hover{
	font-weight: bold;
}
.scorediv, .reviewtitlediv, .photodiv{
    display: grid;
    width: 700px;
    height: 70px;
    grid-template-columns: 100px 600px;
    border-top: 1px solid #ddd;
}
.reviewcondiv{
    display: grid;
    width: 700px;
    height: 300px;
    grid-template-columns: 100px 600px;
    border-top: 1px solid #ddd;
}
.regitbtn {
    width: 700px;
    height: 40px;
    border-top: 1px solid #ddd;
    text-align: center;
    line-height: 50px;
}
.scorediv > div, .reviewtitlediv > div, .photodiv > div{
    text-align: center;
    line-height: 80px;
    font-size: 13px;
}
.photodiv div:last-child {
    text-align: center;
    font-size: 12px;
    color: #888888;
}
.reviewtitlediv > div > input{
    width: 500px;
    height: 30px;
    font-size: 13px;
}
.reviewcondiv > div{
    text-align: center;
    line-height: 300px;
    font-size: 13px;
}
.reviewcondiv > div > textarea{
    width: 500px;
    height: 250px;
    margin-top: 20px;
    resize: none;
}

.scorebar span{
	display: inline-block;
	text-align: center;
	line-height: 15px;
    padding: 5px;
    font-size: 18px;
    width: 15px;
    height: 15px;
}
.scorebar span:hover{
    cursor: pointer;
    font-weight: bold;
    /* font-size: 20px; */
    color: #FF3B58;
}
.scorechoice{
    font-size: 20px;
    background-color: rgb(231, 102, 93);
    border-radius: 50%;
    color: white;
}
.regitbtn button{
    border: none;
    width: 80px;
    height: 35px;
    background-color: #DB1D3B;
    border-bottom :2px solid rgb(170, 26, 15);
    color: white;
    border-radius: 10px;
}
.reviewdetail{
	display: none;
	margin: auto;
	width: 880px;
	height: 500px;
}
.profileimg{
	display: inline-block;
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
.editdel{
	width:90px;
	line-height: 80px;
}
.editdel a {
	font-size: 12px;
	cursor: pointer;
}
.profilediv{
	grid-area: profilediv;
	line-height: 20px;
}
.scorezone{
	grid-area: scorezone;
	line-height: 20px;
}
.nicknamediv{
	grid-area: nicknamediv;
	line-height: 20px;
}
.regdatediv{
	grid-area: regdatediv;
	line-height: 20px;
}
.onelinediv{
	grid-area: onelinediv;
	line-height: 20px;
}
.reviewimg{
	grid-area: reviewimg;
}
.reviewdiv{
	grid-area: reviewdiv;
	line-height: 20px;
	width: 400px;
	margin: auto;
	text-align: left;
}
.conclose{
	grid-area: conclose;
	text-align: right;
	margin-right: 5px;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
}

.reviewcontent{
	margin-left: 120px;
	font-size: 13px;
	display: grid;
	width: 600px;
	height: 500px;
	grid-template-columns: 1fr 1fr 1fr 4fr;
  	grid-template-rows: 30px 30px 100px 300px;
/* 	border: 1px solid black; */
	grid-template-areas:
	"profilediv scorezone scorezone conclose"
	"profilediv nicknamediv regdatediv onelinediv"
	"reviewdiv reviewdiv reviewdiv reviewdiv"
	"reviewimg reviewimg reviewimg reviewimg";
}
.emodal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content/Box */
.editmodal{
    background-color: #fefefe;
    margin: 50px auto; /* 15% from the top and centered */
    padding: 20px;
    width: 800px; /* Could be more or less, depending on screen size */                          
    height: 600px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
/* The Close Button */
.eclose {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.eclose:hover,
.eclose:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
#editreviewform{
    width: 700px;
    height: 550px;
    margin: 10px auto;
}
.editbtn button{
    border: none;
    width: 80px;
    height: 35px;
    background-color: #DB1D3B;
    border-bottom :2px solid rgb(170, 26, 15);
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
#searchtype {
    width: 100%;
    height: 30px;
}
#searchtype>div:first-child {
    float: left;
    margin-left: 25px;
}
#searchtype ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#searchtype li {
    margin-right: 20px;
    margin-top: 10px;
    float: left;
    font-size: 14px;
    color: gray;
}
#searchtype li:hover{
    opacity: 0.6;
    cursor: pointer;
}
#morebtn{
	width:800px;
	height: 40px;
	border: 1px solid #e6e6e6;
	border-radius: 4px;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	margin-top: 20px;
	margin-left: 40px;
	margin-bottom: 60px;
	background-color: #ffffff;
	color: #a1a1a1;
}
#morebtn:hover {
	background-color: #f2f2f2; 
}
#tothetop{
	 position: fixed; 
	 bottom: 2rem; 
	 right: 2rem; 
	 cursor: pointer;
}