:root { -
	-white: #fff; -
	-black: #000; -
	-bg: #f8f8f8; -
	-grey: #999; -
	-dark: #1a1a1a; -
	-light: #e6e6e6; -
	-wrapper: 1000px; -
	-blue: #00b0ff;
}

.main_container {
	position: relative;
	display: grid;
	grid-template-columns: 4fr 5.6fr;
	width: 800px;
	height: 600px;
	border: 1px solid #eee;
	overflow: hidden;
}

.left_container {
	display: grid;
	grid-template-rows: 0fr 7fr;
	border-right: 1px solid #e6e6e6;
}

.left_top_field {
	position: relative;
	padding: 38px 29px;
	box-sizing: border-box;
}

.left_people_field .people {
	margin-left: -1px;
	border-left: 1px solid #e6e6e6;
}

.left_people_field .people .person.active, .left_people_field .people .person:hover
	{
	margin-top: -1px;
	margin-left: -1px;
	padding-top: 13px;
	border: 0;
	background-color: #00b0ff;
	padding-left: calc(10% + 1px);
	color: white;
}

.left_people_field .people .person.active:after, .left_people_field .people .person:hover:after
	{
	display: none;
}

.left_people_field .people .person:after {
	position: absolute;
	bottom: 0;
	left: 50%;
	display: block;
	width: 80%;
	height: 1px;
	content: '';
	background-color: #e6e6e6;
	-webkit-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
}

.left_people_field .people .person {
	position: relative;
	padding: 12px 10% 16px;
	cursor: pointer;
	background-color: #fff;
	height : 44px;
}

.left_people_field .people .person img {
	float: left;
	width: 40px;
	height: 40px;
	margin-right: 12px;
	border-radius: 50%;
}
.left_people_field .person .count[data-count]:after{
	position: absolute;
    right: 1%;
    top: 5%;
    content: attr(data-count);
    font-size: 30%;
    padding: .6em;
    border-radius: 50%;
    line-height: .8em;
    color: white;
    background: rgba(255, 0, 0, 0.85);
    text-align: center;
    min-width: 1em;
    font-weight: bold;
}

.left_people_field .people .person .name {
	font-size: 14px;
	line-height: 22px;
	color: #1a1a1a;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	padding-right:14px;
}

.left_people_field .people .person .time {
	font-size: 14px;
	top: 10px;
	right: 10%;
	position: absolute;
	padding: 0 0 5px 5px;
	color: #999;
}
.right_message_field .chat.active-chat .bubble {
    transition-timing-function: cubic-bezier(0.4, -0.04, 1, 1);
}
.left_people_field .people .person.active span, .left_people_field .people .person:hover span {
    color: white;
    background: transparent;
}

.left_people_field .people .person .preview {
	font-size: 14px;
	display: inline-block;
	overflow: hidden !important;
	width: 70%;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: #999;
}

.right_container {
	display: grid;
	grid-template-rows: 0fr 16fr;
}

.left_top_field input {
	float: left;
	width: 188px;
	height: 42px;
	padding: 0 15px;
	border: 1px solid #e6e6e6;
	background-color: #eceff1;
	border-radius: 21px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
}

.left_top_field a {
	display: block;
	float: left;
	width: 42px;
	height: 42px;
	margin-left: 10px;
	border: 1px solid #e6e6e6;
	background-color: #00b0ff;
	background-image:
		url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/name-type.png);
	background-repeat: no-repeat;
	background-position: top 12px left 14px;
	border-radius: 50%;
	
}
.left_top_field input:focus {
	outline:none;
}

.right_top_field {
	padding: 15px 29px;
	background-color: #eceff1;
}

.right_top_field span {
	font-size: 15px;
	color: #999;
}

.right_top_field span .name {
	color: #1a1a1a;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
}

.right_message_field .chat {
	position: relative;
	display: none;
	overflow: hidden;
	padding: 0 35px 92px;
	justify-content: flex-end;
	flex-direction: column;
}

.right_message_field .chat.active-chat {
	display: block;
}

.right_message_field .conversation-start {
	position: relative;
	margin-bottom: 27px;
	text-align: center;
}

.right_message_field .conversation-start span {
	font-size: 14px;
	display: inline-block;
	color: #999;
}

.right_message_field .chat.active-chat .bubble{
	-webkit-animation-duration: 0.3s;
	animation-duration: 0.3s;
}

.right_message_field .chat.active-chat .bubble {
	transition-timing-function: cubic-bezier(0.4, -0.04, 1, 1);
}

.right_message_field .bubble.you {
	float: left;
	color: #fff;
	background-color: #00b0ff;
	align-self: flex-start;
	-webkit-animation-name: slideFromLeft;
	animation-name: slideFromLeft;
}

.right_message_field .bubble {
	font-size: 16px;
	position: relative;
	display: inline-block;
	clear: both;
	margin-bottom: 8px;
	padding: 13px 14px;
	vertical-align: top;
	border-radius: 5px;
}

.right_message_field .bubble.you:before {
	left: -3px;
	background-color: #00b0ff;
}

.right_message_field .bubble.me:before {
	right: -3px;
	background-color: #eceff1;
}

.right_message_field .bubble:before {
	position: absolute;
	top: 19px;
	display: block;
	width: 8px;
	height: 6px;
	content: '\00a0';
	-webkit-transform: rotate(29deg) skew(-35deg);
	transform: rotate(29deg) skew(-35deg);
}

.right_message_field .bubble.me {
	float: right;
	color: #1a1a1a;
	background-color: #eceff1;
	align-self: flex-end;
	-webkit-animation-name: slideFromRight;
	animation-name: slideFromRight;
}

.main_container .write {
	position: absolute;
	right:1px;
	bottom:0px;
	height: 42px;
	padding-left: 8px;
	border: 1px solid #e6e6e6;
	background-color: #eceff1;
	border-radius: 5px;
	width:466px;
	box-sizing: border-box;
}

.main_container .write .write-link.attach:before {
	display: inline-block;
	float: left;
	width: 20px;
	height: 42px;
	content: '';
	background-image:
		url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/attachment.png);
	background-repeat: no-repeat;
	background-position: center;
}

.main_container .write input {
	font-size: 14px;
	float: left;
	width: 347px;
	height: 40px;
	padding: 0 32px;
	color: #333;
	border: 0;
	outline: none;
	background-color: #eceff1;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
}

.main_container .write .write-link.send:before {
	display: inline-block;
	float: left;
	width: 20px;
	height: 42px;
	margin-left: 11px;
	content: '';
	background-image:
		url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/send.png);
	background-repeat: no-repeat;
	background-position: center;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	margin: 0;
	padding: 0;
	display: list-item;
	text-align: -webkit-match-parent;
}
.right_message_field {
	overflow: auto;
    height: 550px;
    box-sizing: border-box;
    padding-bottom: 42px;
    -ms-overflow-style: none;
}
::-webkit-scrollbar {
	display:none;
}
html {
	overflow:hidden;
}

@keyframes slideFromLeft {
    0% {
        margin-left: -200px;
        opacity: 0;
    }
    100% {
        margin-left: 0;
        opacity: 1;
    }
}
@-webkit-keyframes slideFromLeft {
    0% {
        margin-left: -200px;
        opacity: 0;
    }
    100% {
        margin-left: 0;
        opacity: 1;
    }
}
@keyframes slideFromRight {
    0% {
        margin-right: -200px;
        opacity: 0;
    }
    100% {
        margin-right: 0;
        opacity: 1;
    }
}
@-webkit-keyframes slideFromRight {
    0% {
        margin-right: -200px;
        opacity: 0;
    }
    100% {
        margin-right: 0;
        opacity: 1;
    }
}